@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono');

body{
  font-family: 'Raleway', sans-serif;
}

code{
  font-family: 'Ubuntu Mono', monospace;
}

.navbar-brand.me-2 {
    color: #a19586;
}

h1,h2,h3 {
  font-weight: bold;
  color: #00001c;
}

a, code a {
  color: #a19586;
}

a:hover, code a:hover {
  color: #ee7913;
}

a:not([href]) {
  color: inherit;
}

a:not([href]):hover {
  color: inherit;
}
